<div class="ud-single-blog">
  <div class="ud-blog-image">
	<a href="blog-details.html" data-v-post-url>
	  <img src="images/blog/blog-01.jpg" alt="blog" data-v-post-image/>
	</a>
  </div>
  <div class="ud-blog-content">
	<span class="ud-blog-date" data-v-post-created_at data-filter-friendly_date>Dec 22, 2023</span>
	<h3 class="ud-blog-title">
	  <a href="blog-details.html" data-v-post-url>
		<span data-v-post-name>
			Meet AutoManage, the best AI management tools
		</span>
	  </a>
	</h3>
	<p class="ud-blog-desc" data-v-post-excerpt>
	  Lorem Ipsum is simply dummy text of the printing and
	  typesetting industry.
	</p>
  </div>
</div>
